*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}


.header,.footer{
    background-color: rgb(101, 180, 249);
    position:sticky;
    width: 100%;
}

.main{
    flex-grow: 1;
    margin:auto;
    text-align: center;  
    
}
section p{
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
    margin-top:1.5rem;
}

section h2{
    margin-top: 2%;
}

section .section-center{
    text-align:center;
}

.main-section-list{
    padding-left:10%;
}
.header{
    top:0;
    display: flex;
    justify-content: space-between;
    padding-left:1%;
    padding-right: 1%;
    

}

/* Level with links */
.header h2{
    margin-top: .5%;
}

.footer{
    bottom:0;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right:5%;
    height:8%;
    padding-top: 1%;
   
}

.header-nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    
}

.header-nav-link{
    color: black;
    text-decoration: none;
    padding-left:2%;
    padding-right:2%;
}

.header-nav-link:hover{
    display:block;
    background-color: white;
    border-radius: 5%;
    text-decoration: none;

}

.footer-img{
    width:25px;
    height:25px;
}

.main-section-list{
    text-align: left;
    
}


