*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.nowrap{
  white-space: nowrap;
}

body{
    font: 1rem Arial, Helvetica, sans-serif;
    
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    min-height:100vh;
}


header,footer{
    background-color: rgb(101, 180, 249);
    position:sticky;
    
}

main{
    flex-grow: 1;
    display:flex;
    gap:1.5rem;
    padding: 1rem;

    flex-direction: column;
    align-items: center;  
    
}
section p{
    margin-left:5%;
    margin-right:5%;
    text-align: justify;
    margin-top:1.5rem;
}


section .section-center{
    text-align:center;
}

.main-section-list{
    padding-left:10%;
    text-align: left;
}

header{
    top:0;
    display: flex;
    justify-content: space-between;
    padding-left:1%;
    padding-right: 1%;
    

}

h3{
    padding-bottom: 2%;
    text-align: center;
}

/* Level with links */
.header h2{
    margin-top: .5%;
    
}

footer{
    bottom:0;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right:5%;
    height:7%;
    padding-top: 1%;

}

.header-nav{
    width: 50%;
    display: flex;
    
    justify-content: space-evenly;
    padding: 1%;
   
    
}

.header-nav-link{
    color: black;
    text-decoration: none;
    padding-left:2%;
    padding-right:2%;
}

.header-nav-link:hover{
    display:block;
    background-color: white;
    border-radius: 5%;
    text-decoration: none;

}

.footer-img{
    width:25px;
    height:25px;
}

section h2{
    text-align: center;
}





.card{
    
    border: 2px solid black;
    background-color: rgb(231, 245, 231);
    border-radius: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: min(100%,400px);
    
    padding:2%;
    
    
    align-self: stretch;
    

}

.card description{
    display: flex;
    flex-flow: column nowrap;
}



@media screen and (min-width:576px){
    main{
        justify-content:center;
        flex-flow: row wrap;
        padding:1rem;
        
    }
    body{
        font-size: 1.5rem;
    }

 
}