*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-color: whitesmoke;
}

.header,.footer{
    background-color: rgba(45, 153, 246, 0.765);
    position: absolute;
    width: 100%;
}

.header{
    top:0;
    display: flex;
    justify-content: space-between;
    padding-left:1%;
    padding-right: 1%;

}

.footer{
    bottom:0;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right:2%;
    height:8%;
    padding-top: 1%;
}

.header-nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    
}

.header-nav-link{
    color: black;
}

.header-nav-link:hover{
    display:block;
    background-color: white;
    border-radius: 5%;
    text-decoration: none;

}

.footer-img{
    width:25px;
    height:25px;
}


