
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    font-style: "Inter", sans-serif;
    
}
body{

    background-image:url("images/background.jpg");
    background-size: cover;
    font-size:1.1rem;
}

h1,h2,h4,p,li,.col{
color: white;
}

h3{
    
    color:white;
    margin-right: 10px;
    font-weight:700;
    font-size: 30px;
}

h2,h4{
    text-align: center;
}

.links{
    display:flex;
    justify-content: space-between;
    width:40%;
    font-size: 30px;
    
}
a:link,a:visited,a:hover,a:active{
    text-decoration: none;;
    color:whitesmoke;
}

a:hover,a:active{
    background-color: whitesmoke;
    border: 1px;
    color:black;
    border-radius: 10px;
}
.header{
    background-color: #322D31;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    
}

.index_body,.skills_container,.work_container,.row{
    
    background-color: #322D31 ;
    margin-top:5%;
    opacity: .9;
   margin-left:15%;
   margin-right:15%;

}




.skills_container,.work_container,.row{
 margin-top:5%;
 padding: 10px;
 text-align: justify;

}


.education,.skill_list{
    text-align: justify;
    margin-left: 25%;
margin-right:25%;
padding-bottom: 5%;

}

.summary_me{
    text-align: justify;
padding-top: 5%;
    margin-left: 25%;
margin-right:25%;
}

.row{

    height:40%;
}